* {
    margin: 0;
    padding: 0;
    user-select: none;
}

nav{
    height:80px;
    background-color:#ff5411;
    text-transform: uppercase;
    z-index: 999;
}

#toggle-navbar{
    margin-right:50px;
}

#header-title-text{
    padding-top:20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #e85a19;
    font-size: clamp(1rem, 10vw, 5rem);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    overflow: hidden;
    background: rgba(20, 20, 20, 1);
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 1);
    border-radius: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #e85a19, #f5ce62);
    ;
    border-radius: 13px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #f5ce62, #e85a19);
}

#next {
    background: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: "#222";
}

#asd {
    width: 100%;
    height: 100vh;
    background-color: "#222";
}

.product-items-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 2em;
    background-color: #222;
    
    & > * {
        flex-basis: 600px;
        flex-grow: 1;
    }

    .product-items-box {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px;
        padding: 40px 0;
        border-radius: 6px;
        background-color: white;
        box-shadow: 6px 6px 8px rgba(255, 255, 255, .5);
    }
}


.content-page {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .mycard-box {
        display: flex;
        flex-direction: rows;
        flex-wrap: wrap;
        gap: 2em;

        .mysubcard-box {
            flex-basis: 200px;
            flex-grow: 1;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;

        & > * {
            flex-basis:200px;
            flex-grow: 1;
        }

        .btns {
            position: relative;
            display: inline-block;
            padding: 12px 36px;
            margin: 10px 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            border: none;
            outline: none;
            letter-spacing: 2px;
            border-radius: 40px;
            user-select: none;
            overflow: hidden;

            span {
                position: absolute;
                background: #fff;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                pointer-events: none;
                animation: ripples 1s linear infinite;
            }

            @keyframes ripples {
                0% {
                    width: 0px;
                    height: 0px;
                    opacity: 0.2;
                }

                100% {
                    width: 500px;
                    height: 500px;
                    opacity: 0;
                }
            }

            &:focus {
                outline: none;
            }
        }

        .btn-bg-org {
            background: linear-gradient(90deg, #e85a19, #f5ce62);
        }

        .btn-bg-blu {
            background: linear-gradient(90deg, #0162c8, #55e7fc);
        }

        .btn-bg-gre {
            background: linear-gradient(90deg, #55e7fc, #77e775);
        }

        .btn-bg-pur {
            background: linear-gradient(90deg, #755bea, #ff72c0);
        }
    }

    .code-Frame-box {
        margin-top: 20px;
        border: solid 1px #745;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        padding: 10px 25px;
        height: 210px;
        overflow-y: auto;
        user-select: all;

        /* width */
        &::-webkit-scrollbar {
            width: 10px;
            overflow: hidden;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .2);
            border-radius: 13px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: linear-gradient(0deg, #55e7fc, #77e775);
            border-radius: 13px;

        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(180deg, #55e7fc, #77e775);
        }
    }

    .animated-sliding-menu-indicator {
        margin-top: 30px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        background: #080b1f;

        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #marker {
                position: absolute;
                top: 0;
                height: 35px;
                background: #2196f3;
                border-radius: 2px;
                transition: 0.5s;
            }

            li {
                list-style: none;

                a {
                    position: relative;
                    font-size: 2em;
                    color: #fff;
                    text-decoration: none;
                    margin: 10px 0;
                    padding: 0 20px;
                }
            }
        }

    }
}